* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 255, 21);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 25px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.contenedor:hover {
    color: rgb(0, 255, 21);
}